/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Abhaya Libre', serif;
}
h1 {
  font-size: 2.6rem;
}
li,
button,
label,
input,
p {
  font-size: 2rem;
}
h2 {
  font-size: 4.8rem;
}
h3 {
  font-size: 2.5rem;
  font-weight: normal;
}
h4, h5{
  font-size: 3rem;
}
a {
  color: white;
  text-decoration: none;
}
ul {
  list-style: none;
  
}
button {
  padding: 1.5rem 4rem;
  background: #4c6e97;
  color: white;
  border: none;
  border-radius: 8px;
  transition: 0.3s;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}
button:hover {
  background: #2f445f;
}
/* End of Global styles */

/* Nav section with HERO */
.main-head {
  background: rgb(57, 52, 77);
  color: white;
  border-top: 2px solid beige;
  border-bottom: 2px solid beige;
}

nav {
  display: flex;
  width: 90%;
  margin: auto;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
}
#logo {
  flex: 3 1 40rem;
  font-family: 'Merienda', cursive;
}

/* HERO SECTION */
.hero {
  background: linear-gradient(rgba(71, 71, 71, 0.4), transparent),url('../img/landing-page.jpg');
  min-height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: rgb(255, 255, 254);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero h3{
  padding: 3rem;
}

/* BENEFITS SECTION */
#locations {
  min-height: 100vh;
  background: linear-gradient(rgb(0, 0, 0, 0.5), transparent), url(../img/new-york-page.png);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.locations-head {
  width: 90%;
  margin: auto;
}

.locations-head h2{
  padding: 2rem;
  color: rgb(90, 27, 27);
}

.locations-head h3 {
  padding: 2rem;
  color: rgb(117, 35, 35);
}

.cloud {
  position: absolute;
  top: 0%;
  right: 0%;
  pointer-events: none;
  animation: cloudAnimation 5s infinite alternate ease-in-out;
}

.moving-cloud1 {
  opacity: 0.9;
  animation: cloudAnimation 6s infinite alternate ease-in-out;
}

.moving-cloud2 {
  top: 10%;
  z-index: -1;
  opacity: 0.3;
}

@keyframes cloudAnimation {
  from{
    transform: translate(6%, -6%);
  }
  to{
    transform: translate(0%, 0%);
  }
}

/* The Benefits Section */
.benefits-head {
  background: rgb(94, 92, 92);
  padding: 3rem;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.benefits-head h3 {
  padding: 1rem;
}
.cards {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  min-height: 70vh;
  align-items: center;
}

.card {
  text-align: center;
  flex: 1 1 22rem;
  min-height: 40vh;
  margin: 2rem 5rem;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgb(0, 0, 0, 0.2), 0px 20px 20px rgb(0, 0, 0, 0.2);
}

.cards img {
  max-width: 30%;
  margin: 2rem;
}


.card h4,
.card p {
  padding: 1rem;
}

.card-icon{
  background: rgb(57, 52, 77);
  border-radius: 10px;
}

/* Contact section styling */
#contact {
  min-height: 100vh;
  background: linear-gradient(rgba(71, 71, 71, 0.4), transparent),url("../img/contact-mountain.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-wrapper {
  background: rgb(19, 28, 39, 0.8);
  color: white;
  text-align: center;
  border-radius: 20px;
  padding: 10rem;
  box-shadow: 0px 10px 10px rgb(0, 0, 0, 0.2), 0px 20px 20px rgb(0, 0, 0, 0.2);
}
.name-form, .email-form {
  margin: 2rem;
}
.name-form label {
  margin-right: 1rem;
}
.email-form label {
  margin-right: 1rem;
}
.name-form input {
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
}
.email-form input {
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
}
.form-wrapper button {
  margin-top: 2rem;
}

/* FOOTER SECTION */
footer {
  color: white;
  background: rgba(19, 28, 39, 1);
}
.footer-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
  margin: auto;
  width: 90%;
  min-height: 10vh;
}
footer h5 {
  flex: 1 1 40rem;
}
footer ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-between;
  align-items: center;
}


/* MEDIA QUERY */
@media screen and (max-width: 930px) {
  html {
    font-size: 55%;
  }
  nav {
    text-align: center;
  }
  #logo {
    padding: 2rem;
  }
  .cloud {
    height: 40rem;
  }
  .moving-cloud1 {
    z-index: -1;
  }
  .moving-cloud2 {
    z-index: -2;
  }
  .locations-head h3 {
    background: rgb(95, 55, 52);
    color: white;
    border-radius: 10px;
    opacity: 0.9;
  }
  footer {
    padding-bottom: 3rem;
  }
  footer h5{
    text-align: center;
    margin-bottom: 2rem;
  }
}